@*新建一个Partial view：_User.cshtml，
    _User.cshtml对应着一个UserPageModel，
    UserPageModel中有Id、Name和Level属性，供_User.cshtml
    _User.cshtml里是一个链接：
    文本为UserPageModel的Name
    链接指向：/User/@Id
    根据Level显示不同的颜色：3级以下灰色；3-8级蓝色；8级以上红色
    在其他页面（比如：/Problem）上使用_User.cshtml（如：显示求助的作者）*@
@using SourceStacks.Entities;


@model User
@{ }
@{ string color = "gainsboro"; }
@if (Model.Level > 8)
{
    color = "red";
}
else if (Model.Level > 3)
{
    color = "bule";
}
else
{
    color = "gainsboro";
}

<a href="/User/@Model.Id" style="color:@color">@Model.Name</a>