@page
@model MyWebApp.Pages.Entitiy.IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>








@*<div style="text-align:center">
    @for (int i = 0; i <= 5; i++)
    {
        for (int j = 0; j < 2 * i - 1; j++)
        {
            if (i % 2 == 0)
            {
                <span style="color:red">i</span>
            }
            else
            {
                <span style="color:blue">i</span>
            }
        }<br/>
    }
</div>*@

