@page
@model SourceStacks.Pages.LogOnModel
@{
}
<header>
    <p>用户登录</p>
    <p>返回</p>
</header>
<hr />
@*<div>
    @section  Wdigets{
    <p>"1234"</p>
    }
</div>*@
<main>
    <form method="post" action="Logon.html">
        <label>用户名：（*必填）</label><br />
        <input asp-for="NewUser.Name" placeholder="不是昵称，是登录用户名" /><br />
        <span asp-validation-for="NewUser.Name"></span>

        <label>密码：（*必填）</label><br />
        <input asp-for="NewUser.Password" placeholder="不少与4个字符" /><br />
        <span asp-validation-for="NewUser.Password"></span>

        <label>验证码：（*必填）</label><br />
        <input asp-for="NewUser.Captcha" />&nbsp;&nbsp;&nbsp;<span>看不清楚</span>
        <br />
        <button type="submit">提交</button>
        <label><input asp-for="Rememberme" value="male" class="form-check-input" />记住我</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>忘了</span>
        <span>注册</span>
    </form>
</main>
<section>
    <<p>说明</p>
    <ol>
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
    </ol>
</section>