@page
@model SourceStacks.Pages.MonthModel
@{
    @*新建 / Task / History / Month 页面，利用表格，输出按月按周组织的任意一个月份的日历。可参考：一起帮·任务历史月表*@
}
@{
    DateTime date = new DateTime(2021, 9, 1);
    int month = date.Month;
}<p>@date.ToString("yyyy年-MM-月")</p>
<table style="border:1px dashed">
        <tr>
        <td>一</td>
        <td>二</td>
        <td>三</td>
        <td>四</td>
        <td>五</td>
        <td>六</td>
        <td>日</td>
    </tr>
    @while (date.Month <= month)
    {
        <tr>
            @if (date.DayOfWeek != DayOfWeek.Monday)
            {
                date = date.AddDays(-1);
            }
            else
            {
                for (int j = 0; j < 7; j++)
                {
                    <td>@date.ToString("dd")</td>
                        date = date.AddDays(1);
                }
            }
        </tr>
}
