<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SourceStacks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon " type="image/ico" href="Lmage/log.ico" media="screen" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/StyleSheet.css" />

</head>
<body>
    @{
        if (ViewData["HasLogOn"] == null)
        {
            ViewData["LogOn"] = "登录";
            ViewData["SignIn"] = "注册";
        }
        else
        {
            ViewData["LogOn"] = "已登录";
            ViewData["LogOff"] = "退出登录";
        }
    }
    <div class="d-flex bd-highlight ; fixed-top" style=" align-items:center ;background-color:aliceblue">
        <div class="p-2 flex-grow-1 bd-highlight">
            <img src="/Lmage/logo-big.ico" alt="Alternate Text" href="welcome.com" style="margin-left:6%" />
            <span style="font-size:19px ">一起帮  </span>
            <span style="color:darkgrey">·网络互助平台</span>
            <i class="fa fa-bell"></i>
        </div>

        <div class="p-2 bd-highlight">
            <ul style=" list-style: none   ">
                <li> <i class="fa fa-question-circle">求助</i> </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <ul style=" list-style: none   ">
                <li>     <i class="fa fa-eye" aria-hidden="true">督促  </i></li>


            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <ul style=" list-style: none   ">
                <li>       <i class="fa fa-book ">文章</i>     </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <ul style=" list-style: none   ">
                <li> <i class=" fa fa-user-circle-o ">用户</i> </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight" style="margin-right:6%">
            <ul style=" list-style: none   ">
                <li><i class=" fa fa-tachometer">后台</i></li>
            </ul>
        </div>
    </div>
    </nav>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">SourceStacks</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<div>
        @RenderSection("Wdigets")
                    </div>*@
    <footer class="border-top footer text-muted">

        @*<div class="container">
                &copy; 2021 - SourceStacks - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>*@
        <p style="float:left;width:70%">

            <span style="color:blue">关于我们</span><span>&nbsp;|</span>
            <span style="color:blue">源站课堂</span><span>&nbsp;|</span>
            <span style="color:blue">常见问题</span><span>&nbsp;|</span>
            <span style="color:blue">意见建议</span><span>&nbsp;|</span>
            <span style="color:blue">历史通知</span><span>&nbsp;|</span>
            <span style="color:blue">诚邀合伙人</span>
        </p>
        <p style="float:right">
            <a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>
            <span>© 2021- 自由</span><img src="Lmage/freeflying.ico" />
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
